<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <!-- id -->
  <input type="hidden" name="Id" [value]="service.formData.Id">
  <!-- card owner -->
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="CardOwner.valid"
            [class.red-icon]="CardOwner.invalid && CardOwner.touched"></i>
        </div>
      </div>
      <input name="CardOwner" #CardOwner="ngModel" [(ngModel)]="service.formData.CardOwner" class="form-control"
        placeholder="Card Owner" required>
    </div>
  </div>

  <!-- card number -->
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-credit-card" [class.green-icon]="CardNumber.valid"
            [class.red-icon]="CardNumber.invalid && CardNumber.touched"></i>
        </div>
      </div>
      <input name="CardNumber" #CardNumber="ngModel" [(ngModel)]="service.formData.CardNumber" class="form-control"
        placeholder="16 Digits Card Number" required minlength="16" maxlength="16">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-7">
      <!-- card expiration date -->
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-calendar-alt" [class.green-icon]="CardExpirationDate.valid"
              [class.red-icon]="CardExpirationDate.invalid && CardExpirationDate.touched"></i>
          </div>
        </div>
        <input name="CardExpirationDate" #CardExpirationDate="ngModel" [(ngModel)]="service.formData.CardExpirationDate"
          class="form-control" placeholder="MM/YY" required minlength="5" maxlength="5">
      </div>
    </div>

    <!-- card cvv -->
    <div class="form-group col-md-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-key" [class.green-icon]="CardCvv.valid"
              [class.red-icon]="CardCvv.invalid && CardCvv.touched"></i>
          </div>
        </div>
        <input type="password" name="CardCvv" #CardCvv="ngModel" [(ngModel)]="service.formData.CardCvv"
          class="form-control" placeholder="Card CCV" required minlength="3" maxlength="3">
      </div>
    </div>
  </div>

  <!-- button -->
  <div class="form-group">
    <button class="btn btn-success btn-block btn-lg " type="submit" [disabled]="form.invalid"> Submit Payment</button>
  </div>
</form>