
input.ng-touched.ng-invalid{
  border-color: red;
}
input.ng-valid{
  border-color: green;
}

.red-icon{
  color: red;
}
.green-icon{
  color: green;
}

#toast-container>div{
  opacity: 1;
}

table tr:hover{
  cursor: pointer;
}